<!--
<launch>
  <arg name="DEFAULT_NAMESPACE" default="demo_ishida"/>

    <include file="$(find jsk_pcl_ros)/launch/hsi_color_filter.launch">
        <arg name="INPUT" value="$(arg input)"/>
    </include>
</launch>-->

<launch>
  <!--
  $ roslaunch openni_launch openni.launch    ;; start kinect camera
  $ rosrun rqt_reconfigure rqt_reconfigure   ;; parameter settings
  $ roslaunch jsk_pcl_ros hsi_color_filter.launch DEFAULT_NAMESPACE:=/camera/depth_registered INPUT:=points
  
  * subscribe camera/depth_registered/hsi_output
  * subscribe tf and find /target
  -->

    <arg name="INPUT" default="/kinect_head/depth_registered/points"/>
    <arg name="CENTROID_FRAME" default="target"/>
    <arg name="DEFAULT_NAMESPACE" default="ishida_demo"/>
    <arg name="FILTER_NAME_SUFFIX" default=""/>
    <arg name="OUTPUT" default="hsi_output$(arg FILTER_NAME_SUFFIX)"/>
    <arg name="h_max" value="13" />
    <arg name="h_min" value="-25" />
    <arg name="s_max" value="146" />
    <arg name="s_min" value="132" />
    <arg name="i_max" value="86" />
    <arg name="i_min" value="30" />


  <arg name="create_manager" default="true" />
  <arg name="manager" default="hsi_filter_manager$(arg FILTER_NAME_SUFFIX)" />

  <group ns="$(arg DEFAULT_NAMESPACE)">
    <node if="$(arg create_manager)"
          pkg="nodelet" type="nodelet" name="$(arg manager)"
          args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="hsi_filter$(arg FILTER_NAME_SUFFIX)"
          args="load jsk_pcl/HSIColorFilter $(arg manager)" output="screen">
      <remap from="~input" to="$(arg INPUT)" />
      <remap from="~output" to="$(arg OUTPUT)" />
      <rosparam>
        use_indices: false
        keep_organized: true
      </rosparam>
      <param name="h_limit_max" value="$(arg h_max)" />
      <param name="h_limit_min" value="$(arg h_min)" />
      <param name="s_limit_max" value="$(arg s_max)" />
      <param name="s_limit_min" value="$(arg s_min)" />
      <param name="i_limit_max" value="$(arg i_max)" />
      <param name="i_limit_min" value="$(arg i_min)" />
    </node>
    <node pkg="nodelet" type="nodelet" name="euclidean_clustering$(arg FILTER_NAME_SUFFIX)"
          args="load jsk_pcl/EuclideanClustering $(arg manager)" output="screen">
      <remap from="~input" to="$(arg OUTPUT)" />
      <rosparam>
        tolerance: 0.05
        min_size: 30
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="cluster_decomposer$(arg FILTER_NAME_SUFFIX)"
          args="load jsk_pcl/ClusterPointIndicesDecomposerZAxis $(arg manager)"
          output="screen" clear_params="true">
      <remap from="~input" to="$(arg OUTPUT)" />
      <remap from="~target" to="euclidean_clustering$(arg FILTER_NAME_SUFFIX)/output" />
      <remap from="~debug_output" to="debug_output$(arg FILTER_NAME_SUFFIX)" />
      <remap from="~boxes" to="boxes$(arg FILTER_NAME_SUFFIX)" />
      <rosparam>
      </rosparam>
    </node>
  </group>
  <node pkg="fast_fridge" type="can_pose_publisher.py" name="can_pose_publish" output="screen"/>
  <node pkg="fast_fridge" type="pose_processor.py" name="pose_processor" output="screen"/>

  <node name="replay" pkg="rviz" type="rviz"
    args="-d $(find fast_fridge)/config/bagplay.rviz"/>
</launch>
