<launch>
  <rosparam param="/use_sim_time">true</rosparam>
  <node pkg="rosbag" type="play" name="player" output="screen"
      args="-l --clock $(find fast_fridge)/rosbag/estimation.bag"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find fast_fridge)/config/bagplay.rviz"/>
  <node pkg="fast_fridge" type="pose_processor.py" name="pose_pub" output="screen"/>
</launch>
